<!DOCTYPE html>
<html class="h-100" lang="en">
<!--
    Silkky.Cloud Website
    Copyright (C) 2021  Silkky.Cloud

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Affero General Public License as published
    by the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Affero General Public License for more details.

    You should have received a copy of the GNU Affero General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
{% render 'includes/head',
        page_title: page_title,
        page_description: page_description
%}
<body class="d-flex flex-column h-100">
<main class="flex-shrink-0">
    <header>
    {% render 'includes/navbar',
            page: page,
            page_title: page_title,
            page_description: page_description
    %}
    </header>
    {% block content %}
    <p>Insert shit here....</p>
    {% endblock %}
</main>
{% render 'includes/footer' %}
{% render 'includes/scripts',
        page: page
%}
</body>
</html>

