{% layout 'layouts/default' %}
{% assign page_title = "404 Page not Found" %}
{% assign page_description = "Page not Found" %}
{% block content %}
<section class="mt-5" id="404">
    <div class="container-md px-5 py-5 my-5 text-center">
        <h1 class="display-1">404</h1>
        <p>Page not Found</p>
        <a class="link-light" href="/">Back</a>
    </div>
</section>
{% endblock %}
