{% layout 'layouts/default' %}
{% assign page = "contact" %}
{% assign page_title = "Contact" %}
{% assign page_description = "How to get in contact with us." %}
{% block content %}
<!--Contact-->
<section class="my-5" id="contact">
    {% render 'includes/sections/contact' %}
</section>
{% endblock %}
