{% layout 'layouts/default' %}
{% assign page = "contribute" %}
{% assign page_title = "Contribute" %}
{% assign page_description = "Help make Silkky.Cloud better." %}
{% block content %}
<!--Contribute-->
<section class="my-5" id="contribute">
    {% render 'includes/sections/contribute' %}
</section>
{% endblock %}
