{% layout 'layouts/default' %}
{% block content %}
<section id="hero" class="my-5">
    {% render 'includes/sections/hero' %}
</section>
<!--Applications-->
<section id="sponsors" class="my-5">
    {% render 'includes/sections/applications' %}
</section>
<!--Sponsors-->
<section id="sponsors" class="mb-5">
    {% render 'includes/sections/sponsors' %}
</section>
{% endblock %}
