{% layout 'layouts/default' %}
{% assign page = "legal" %}
{% assign page_title = "Legal Notice" %}
{% assign page_description = "Our legal contact information." %}
{% block content %}
<!--Legal-->
<section class="my-5" id="legal">
    {% render 'includes/sections/legal' %}
</section>
{% endblock %}
