{% layout 'layouts/default' %}
{% assign page = "privacy" %}
{% assign page_title = "Privacy" %}
{% assign page_description = "Our Privacy Policy describes how we handle your data." %}
{% block content %}
<!--Privacy-->
<section class="my-5" id="privacy">
    {% render 'includes/sections/privacy' %}
</section>
{% endblock %}
