{% layout 'layouts/default' %}
{% assign page = "tos" %}
{% assign page_title = "Terms of Service" %}
{% assign page_description = "Our Terms of Service document describes the acceptable use and policies for using our service." %}
{% block content %}
<!--TOS-->
<section class="my-5" id="tos">
    {% render 'includes/sections/tos' %}
</section>
{% endblock %}
