<div class="bg-alt-color card h-100 text-center" id="app">
    <div class="py-3">
        <div class="card-header {% if unstable == true %}text-danger{% else %}text-success{% endif %}">
            <b>Status: </b> {% if unstable == true %}unstable{% else %}stable{% endif %}
        </div>
        <div class="card-body">
            <a rel="noreferrer" class="text-decoration-none link-light stretched-link" href="{% if app_url %}{{ app_url }}{% else %}/{% endif %}" target="_blank">
                <h3 class="card-title">
                    {% if app_title %}
                        {{ app_title }}
                    {% else %}
                        Title
                    {% endif %}
                </h3>
            </a>
            <p class="card-text text-muted">
                {% if app_description %}
                    {{ app_description }}
                {% else %}
                    Description
                {% endif %}
            </p>
        </div>
        {% if unstable == true %}
            <div class="card-footer text-danger">
                <b>Reason: </b> {{ unstable_reason }}
            </div>
        {% endif %}
    </div>
</div>
