{% if info == true %}
<div class="mb-5">
    <div class="border border-1 {% if danger == true %}border-danger{% endif %}">
        <div class="bg-alt-color card h-100 text-center" id="info">
            <div class="card-body">
                <h4 class="fw-bold fs-5 card-title">
                    {% if info_title %}
                        {{ info_title }}
                    {% else %}
                        Title
                    {% endif %}
                </h4>
                <p class="card-text text-muted">
                    {% if info_description %}
                        {{ info_description }}
                    {% else %}
                        Description
                    {% endif %}
                </p>
                {% if info_link %}
                <a class="link-light" href="{{ info_link }}" target="_blanks">
                    {{ info_link_text }}
                </a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endif %}
