<footer class="mt-auto py-3 border-top border-bottom border-dark border-1">
    <div class="container-md p-5">
        <div class="row gx-5">
            <div class="col-lg-4">
                <div class="card h-100">
                    <div class="card-body p-4">
                        <h6 class="text-white fw-bolder card-title mb-3">Contact</h6>
                        <hr class="my-4 bg-light">
                        <div class="text-white small">silkky [ at ] silkky.cloud (<a class="link-light" href="/other/silkky_key.asc">GPG Key</a>)</div>
                        <a href="https://discord.gg/68Cps29YWu" target="_blank" class="main-text link-light small">Join our Discord</a><br />
                        <a href="https://matrix.to/#/#silkkycloud:matrix.org" target="_blank" class="main-text link-light small mb-0">Join our Matrix</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card h-100">
                    <div class="card-body p-4">
                        <h6 class="text-white fw-bolder card-title mb-3">Policies</h6>
                        <hr class="my-4 bg-light">
                        <a class="link-light small" href="/privacy">Privacy Policy</a><br />
                        <a class="link-light small" href="/tos">Terms of Service</a><br />
                        <a class="link-light small mb-0" href="/legal">Legal Notice</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card h-100">
                    <div class="card-body p-4">
                        <h6 class="text-white fw-bolder card-title mb-3">&copy Silkky.Cloud</h6>
                        <hr class="my-4 bg-light">
                        <a class="link-light small" href="https://github.com/silkkycloud/silkky.cloud-placeholder" target="_blank">Source Code</a><br />
                        <p class="text-muted small mb-0">
                            Released under the GNU Affero General Public License version 3 or later. Visit <a class="link-dark" href="https://www.gnu.org/licenses/agpl-3.0.html" target="_blank">https://www.gnu.org/licenses/agpl-3.0.html</a> for more information on licensing
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="container-md pt-3 pb-2">
    <div class="text-center">
        <p class="fw-bold">Deployed on <a class="p-2" href="https://www.netlify.com/" target="_blank"><img src="/img/svg/netlify.svg" width="100px" alt="Netlify"></a></p>
    </div>
</div>
