<div class="container-md py-5">
    <div class="bg-alt-color border border-1 border-dark">
        <div class="p-4 container-fluid">
            <h4 class="display-6 fw-bold">Support</h4>
            <p>
                <b>To report any problems, issues with accounts etc, please get in contact here.</b><br />
                <br />
                <b>Email address:</b><br />
                support [ at ] silkky.cloud (<a class="link-light" href="/other/support_key.asc">GPG Key</a>)<br />
                <br />
                Please don't send any personal information without being prompted.
            </p>
            <hr class="my-3 bg-light">
            <p>
                Alternatively you can join our Discord server or Matrix room and get help there.<br />
                <br />
                <b>Links:</b><br />
                <br />
                <a class="link-light " href="https://discord.gg/68Cps29YWu" target="_blank">
                    Discord<i class="bi bi-arrow-right"></i>
                </a><br />
                <br />
                <a class="link-light" href="https://matrix.to/#/#silkkycloud:matrix.org" target="_blank">
                    Matrix<i class="bi bi-arrow-right"></i>
                </a>
            </p>
        </div>
    </div>
    <div class="mt-4 bg-alt-color border border-1 border-dark">
        <div class="p-4 container-fluid">
            <h4 class="display-6 fw-bold">General</h4>
            <p>
                <b>For any questions or inquiries, please get in contact here</b><br />
                <br />
                <b>Email address:</b><br />
                silkky [ at ] silkky.cloud (<a class="link-light" href="/other/silkky_key.asc">GPG Key</a>)<br />
                <br />
                Please don't send any personal information without being prompted.
            </p>
            <hr class="my-3 bg-light">
            <p>

            </p>
        </div>
    </div>
</div>
