<div class="container-md py-5">
    <div class="bg-alt-color border border-1 border-dark">
        <div class="p-5 container-fluid">
            <h1 class="display-2 fw-bolder">Contribute</h1>
            <p class="fs-5 fw-bold">
                Silkky.Cloud is designed to be a community project. You can help by pushing code on our GitHub or you can donate with either normal currency or crypto currency. If you're more interested you can join our chats, either Matrix or Discord to share ideas, direct support or connect with the community.
            </p>
            <a class="link-light text-decoration-none fw-bolder" href="https://github.com/silkkycloud/silkky.cloud/" target="_blank">
                <i class="bi bi-star-fill"></i> Star us on GitHub<i class="bi bi-arrow-right"></i>
            </a>
        </div>
    </div>
    <div class="mt-4 bg-alt-color border border-1 border-dark">
        <div class="p-4 container-fluid">
            <h2 class="display-4 fw-bold">Developing</h2>
            <p>
                To expand Silkky.Cloud we need all the help from you, sitting in your depraved cave. You can help by contributing code! You can either push code on our GitHub or if you are feeling lucky you can request to work directly with us on Matrix or Discord. Silkky.Cloud is for the people, by the people.
            </p>
            <div class="row row-cols-auto">
                <div class="col p-1">
                    <a class="btn btn-cool text-white" href="https://github.com/silkkycloud/" target="_blank">
                        <i class="fa fa-github"></i> GitHub
                    </a>
                </div>
                <div class="col p-1">
                    <a class="btn btn-cool text-white" href="https://matrix.to/#/#silkkycloud:matrix.org" target="_blank">
                        <i class="fa fa-matrix-org"></i> Matrix
                    </a>
                </div>
                <div class="col p-1">
                    <a class="btn btn-cool text-white" href="https://discord.gg/68Cps29YWu" target="_blank">
                        <i class="fa fa-discord-alt"></i> Discord
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-4 bg-alt-color border border-1 border-dark">
        <div class="p-4 container-fluid">
            <h2 class="display-4 fw-bold">Donate</h2>
            <p>
                Our operation runs off donations and money we get from our actual jobs. Out of all the other ways to contribute, donating is the most important so we can pay for our servers and external services to keep you satisfied.
            </p>
            <a class="btn btn-cool text-white" data-bs-toggle="collapse" data-bs-target="#expensesCollapse" aria-expanded="false" aria-controls="expensesCollapse">
                Expenses <i class="bi bi-arrow-down-short"></i>
            </a>
            <div class="collapse mt-2" id="expensesCollapse">
                <div class="card card-body text-white bg-alt-color border border-1 border-dark">
                    <div class="px-2">
                        <h3 class="display-5 fw-bold">Expenses</h3>
                        <p class="fw-bold">Average expenses:</p>
                        <div class="px-2">
                            <p><b>Yearly: </b></p>
                            <p><b>Monthly: </b></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2 pt-5">
                <h3 class="display-5 fw-bold">Currency</h3>
                <div class="py-2">
                    <h4 class="fw-bold fst-italic">
                        <i class="fa fa-liberapay-square"></i> Liberapay <small class="text-muted">- Recurring donations</small>
                    </h4>
                    <p class="text-muted">
                        Liberapay is a recurrent donations platform, that helps you fund the creators and projects you appreciate.
                    </p>
                    <div class="py-3">
                        <a class="btn btn-warning" href="https://liberapay.com/silkkycloud/" target="_blank">
                            <h4 class="fw-bold fst-italic mt-1">
                                <i class="fa fa-liberapay-square"></i> Liberapay
                            </h4>
                        </a>
                    </div>
                </div>
                <div class="py-2">
                    <h4 class="fw-bold fst-italic mt-1">
                        <img src="/img/svg/buymeacoffee.svg" height="24px" alt="Buy Me a Coffee Logo"> BuyMeACoffee <small class="text-muted">- One-time donations</small>
                    </h4>
                    <p class="text-muted">
                        Buy Me a Coffee ia a simple way to support projects and creators.
                    </p>
                    <div class="py-3">
                        <a class="btn btn-info" href="https://buymeacoffee.com/silkkycloud/" target="_blank">
                            <h4 class="fw-bold fst-italic mt-1">
                                <img src="/img/svg/buymeacoffee.svg" height="25px" alt="Buy Me a Coffee Logo"> BuyMeACoffee
                            </h4>
                        </a>
                    </div>
                </div>
            </div>
            <div class="p-2 pt-5">
                <h3 class="display-5 fw-bold">Crypto Currency</h3>
                <div class="py-2">
                    <h4 class="fw-bold fst-italic">
                        <i class="fa fa-bitcoin"></i> Bitcoin
                    </h4>
                    <p class="p-2 fw-bold text-break">
                        bc1qjjzzm79gpaujyteu8yhjyxla0hhj224ppktyaa
                    </p>
                </div>
                <div class="py-2">
                    <h4 class="fw-bold fst-italic mt-1">
                        <i class="fa fa-ethereum"></i> Ethereum
                    </h4>
                    <p class="p-2 fw-bold text-break">
                        0xfdd4f4618902dc1f388bC58CceC9E622d7319Ff6
                    </p>
                </div>
                <div class="py-2">
                    <h4 class="fw-bold fst-italic mt-1">
                        Monero
                    </h4>
                    <p class="p-2 fw-bold text-break">
                        856E1v6ab4W3AEnkW8Zyd66SJ3ckwbACdLiiFNg1kZeT6Qx5YS3eGcCDwJwaBKh3os9EtdWw6GAwUfGh6UzcYxoVJ5HvgMu
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
