<div class="hero border-bottom border-1 border-dark">
    <div class="py-4 px-5 container-md">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-lg-8 col-xl-7 col-xxl-6">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="display-2 fw-bolder text-white mb-2">
                        Protect your privacy
                    </h1>
                    <p class="lead fw-normal text-white-50 mb-4">
                        Infrastructure, resources and guides aimed at helping you to protect your privacy against global surveillance.
                    </p>
                    <noscript>
                        <div class="alert alert-dark" role="alert">
                            <i class="bi bi-code"></i>
                            We try our best to make sure this website works without Javascript enabled. For a slightly better experience please enable Javascript.
                        </div>
                    </noscript>
                    <a rel="noreferrer" class="me-3 link-light" href="https://github.com/silkkycloud/" target="_blank"><i class="fs-4 fa fa-github"></i></a>
                    <a rel="noreferrer" class="me-3 link-light" href="https://matrix.to/#/#silkkycloud:matrix.org" target="_blank"><i class="fs-4 fa fa-matrix-org"></i></a>
                    <a rel="noreferrer" class="me-3 link-light" href="https://discord.gg/68Cps29YWu" target="_blank"><i class="fs-4 fa fa-discord-alt"></i></a>
                    <a rel="noreferrer" class="me-3 link-light" href="https://mastodon.social/@silkky" target="_blank"><i class="fs-4 fa fa-mastodon"></i></a>
                    <div class="mt-4 d-grid gap-3 d-sm-flex justify-content-sm-center justify-content-xl-start">
                        <p class="text-white">
                            <a class="hero-button link-light me-2" href="/contribute">
                                Contribute<i class="bi bi-arrow-right"></i>
                            </a>
                            <a class="hero-button link-secondary" href="/report">
                                Report An Issue
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-xxl-6 d-none d-xl-block text-center">
                <img class="img-fluid rounded-3 my-5" src="/img/png/brand/logo-transparent.png" width="400px" alt="Hero image" />
            </div>
        </div>
    </div>
</div>
