<div class="container-md py-5">
    <div class="bg-alt-color border border-1 border-dark">
        <div class="p-4 container-fluid">
            <h4 class="display-6 fw-bold">Main</h4>
            <p class="unselectable">
                <b>Oscar Melton</b><br />
                <br>
                <b>Mail Address: </b><br />
                PO Box 86<br />
                3831 Neerim South<br />
                Victoria<br />
                Australia<br />
                <br>
                <b>E-Mail Address: </b><br />
                silkky@silkky.cloud
            </p>
        </div>
    </div>
</div>
