<div class="container-md py-5">
    <div class="bg-alt-color border border-1 border-dark">
        <div class="p-5 container-fluid">
            <h1 class="display-2 fw-bolder">Privacy Policy</h1>
            <p class="fs-5 fw-bold">
                Your data is only used to provide our services. No data is ever shared with a third-party.
            </p>
            <p class="text-muted">
                Our Privacy Policy is valid for every service provided by Silkky.Cloud.
            </p>
        </div>
    </div>
    <div class="mt-4 bg-alt-color border border-1 border-dark">
        <div class="p-4 container-fluid">
            <h4 class="display-6 fw-bold">Definitions</h4>
            <p>
                <b>Relevant definitions as defined in Article 4 (1,2,7) GDPR.</b><br />
                <br />
                <b>(1)</b> ‘personal data’ means any information relating to an identified or identifiable natural person;<br />
                <br />
                <b>(2)</b> ‘processing’ means any operation or set of operations which is performed on personal data or on sets of personal data, whether or not by automated means, such as collection, recording, organisation, structuring, storage, adaptation or alteration, retrieval, consultation, use, disclosure by transmission, dissemination or otherwise making available, alignment or combination, restriction, erasure or destruction;<br />
                <br />
                <b>(7)</b> ‘controller’ means the natural or legal person, public authority, agency or other body which, alone or jointly with others, determines the purposes and means of the processing of personal data;
            </p>
        </div>
    </div>
    <div class="mt-4 bg-alt-color border border-1 border-dark">
        <div class="p-4 container-fluid">
            <h4 class="display-6 fw-bold">Your Rights</h4>
            <p>
                <b>The General Data Protection Regulation (GDPR) and Data Protection Act 2018 (DPA) defines a number of rights you have in regard to your personal data.</b><br />
                <br />
                You have the right to request the deletion or erasure of your personal data, you may also (depending on the circumstance) request a copy of your personal data. The right to object to or restrict data processing. If you have previously provided consent for the processing of your personal data you may be able (depending on the circumstance) to withdraw consent at any time, withdrawing consent doesn't affect the lawfulness of data processed prior to your consent being withdrawn.
            </p>
        </div>
    </div>
    <div class="mt-4 bg-alt-color border border-1 border-dark">
        <div class="p-4 container-fluid">
            <h4 class="display-6 fw-bold">Controller</h4>
            <p class="unselectable">
                <b>Oscar Melton</b><br />
                <br>
                <b>Mail Address: </b><br />
                PO Box 86<br />
                3831 Neerim South<br />
                Victoria<br />
                Australia<br />
                <br>
                <b>E-Mail Address: </b><br />
                silkky@silkky.cloud
            </p>
        </div>
    </div>
    <div class="mt-4 bg-alt-color border border-1 border-dark">
        <div class="p-4 container-fluid">
            <h4 class="display-6 fw-bold">Personal Data We Collect and Process</h4>
            <p>
                <b>By default we do not process any personal data.</b><br />
                <br>
                Technically necessary data (IP address and user agent), are automatically processed by our server(s) when you visit any of our services. Our server(s) uses your IP address to deliver content to your browser. Under Article 6 (1) b GDPR we have a legitimate legal basis for processing this data.
            </p>
            <div class="p-2">
                <h6 class="fs-4 fw-bold">Logs</h6>
                <p>
                    Our server(s) generates logs automatically, these logs (depending on the service see additional policies / exceptions) may contain data such as your IP address, user agent and URL you accessed from. However these logs are not retained and are kept for no more then 24 hours. By default our server(s) don't save any logs, the only time we save logs is for fixing problems or investigating attacks, only for a period of 24 hours.
                </p>
            </div>
            <div class="p-2">
                <h6 class="fs-4 fw-bold">Registration Data</h6>
                <p>
                    Some services on silkky.cloud offer the option to register an account. During the registration process you may be required to provide personal information such as a username or email address to allocate your data. Our legal basis for collecting this data is Article 6 (1) b GDPR. You can delete your account(s) by accessing the respective service or <a href="/support">contact us.</a>
                </p>
            </div>
            <div class="p-2">
                <h6 class="fs-4 fw-bold">Storage and Access to Data</h6>
                <p>
                    Where possible your data is encrypted. All of your data is stored on our server(s) in a secure data center owned and operated by <a href="https://www.hetzner.com/" target="_blank">Hetzner Online GmbH</a> in Helsinki, Finland. We will never look at or share any personal data with a third party.
                </p>
            </div>
            <div class="p-2">
                <h6 class="fs-4 fw-bold">Deleting Account(s)</h6>
                <p>
                    Deleting an account will destroy all data associated with your account, you can delete your account at any time. Please note that usernames used with deleted accounts might still unavailable to use after deletion.
                </p>
            </div>
            <div class="p-2">
                <h6 class="fs-4 fw-bold">Federation</h6>
                <p>
                    Federation enables users on different servers to communicate with each other such as chatting or sharing files. Some of our services offer federation, the nature of federation allows data to shared across different servers or entities. Sharing this data with other services / providers is entirely the user's decision.
                </p>
            </div>
        </div>
    </div>
    <div class="mt-4 bg-alt-color border border-1 border-dark">
        <div class="p-4 container-fluid">
            <h4 class="display-6 fw-bold">Additional Policies / Exceptions</h4>
            <div class="p-2">
                <h6 class="fs-4 fw-bold">Invidious</h6>
                <p>
                    Please read the <a href="https://invidious.silkky.cloud/privacy" target="_blank">Invidious Privacy Policy</a>
                </p>
            </div>
        </div>
    </div>
    <div class="mt-4 bg-alt-color border border-1 border-dark">
        <div class="p-4 container-fluid">
            <h4 class="display-6 fw-bold">Hetzner Online GmbH</h4>
            <p>
                Hetzner Online GmbH is our server provider, please read <a href="https://www.hetzner.com/rechtliches/datenschutz" target="_blank">their privacy policy</a><br />
                <br>
                Hetzner Online GmbH may log access attempts to our server(s) this data may include IP address, user agent and bytes sent or received. Our interest and the interest of Hetzner Online GmbH to process this data is to detect / block attacks and to provide our services. Processing this data is legitimate under Article 6 (1) b GDPR.
            </p>
        </div>
    </div>
</div>
