<form name="issues" method="post" data-netlify="true">
    <!--Email Address-->
    <div class="form-floating mb-3">
        <input type="email" class="form-control" id="issueInputEmail" placeholder="name@example.com">
        <label for="issueInputEmail">Email address</label>
    </div>
    <!--Name-->
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="issueInputName" placeholder="John Doe">
        <label for="issueInputName">Name</label>
    </div>
    <!--Description-->
    <div class="mb-3">
        <label class="text-white mb-2" for="issueTextArea">Description</label>
        <textarea class="form-control" id="issueTextArea" rows="3"></textarea>
    </div>
    <!--Submit-->
    <button type="submit" class="btn btn-cool text-white">
        Submit <i class="bi bi-arrow-right"></i>
    </button>
</form>
