<div class="container-md py-5">
    <div class="bg-alt-color border border-1 border-dark">
        <div class="p-4 container-fluid">
            <div class="mb-3">
                <h4 class="display-6 fw-bold">
                    Report An Issue
                </h4>
                <p>
                    Reporting an issue through this form will help it get fixed as soon as possible, the submissions from this form are checked at least once a day.
                </p>
            </div>
            {% render 'includes/sections/report_form' %}
        </div>
    </div>
</div>
