<form class="needs-validation" name="issues" method="post" data-netlify="true" novalidate>
    <!--Email Address-->
    <p>
        Email address is optional, however you won't receive a reply without it.
    </p>
    <div class="form-floating mb-3">
        <input type="email" class="form-control" name="email" id="issueInputEmail" placeholder="name@example.com" />
        <label for="issueInputEmail"><small><b>(Optional)</b></small> Email</label>
        <div class="invalid-feedback">
            Please enter a email address.
        </div>
    </div>
    <!--Name-->
    <div class="form-floating mb-3">
        <input type="text" class="form-control" name="name" id="issueInputName" placeholder="John Doe" required />
        <label for="issueInputName">Name</label>
        <div class="invalid-feedback">
            Please enter a name.
        </div>
    </div>
    <!--Description-->
    <div class="mb-3">
        <label class="text-white mb-2" for="issueTextArea"><b>Description</b></label>
        <textarea class="form-control" name="description" id="issueTextArea" rows="3" required></textarea>
        <div class="invalid-feedback">
            Please enter a description of the issue.
        </div>
    </div>
    <!--Submit-->
    <p>
        This form is provided by <a rel="noreferrer" class="link-light" href="https://www.netlify.com/products/forms/" target="_blank">Netlify Forms</a>, any data submitted through this form will be processed by <a rel="noreferrer" class="link-light" href="https://www.netlify.com/" target="_blank">Netlify, Inc</a>. Please read their <a rel="noreferrer" class="link-light" href="https://www.netlify.com/privacy" target="_blank">privacy policy</a>.
    </p>
    <button type="submit" class="btn btn-cool text-white">
        Submit <i class="bi bi-arrow-right"></i>
    </button>
</form>
