<div class="container-md px-5 pb-5">
    <div class="row gx-5 mb-5 justify-content-center">
        <div class="col-lg-8 col-xl-6">
            <div class="text-center text-white">
                <h1 class="fw-bolder">Sponsors</h1>
                <p>Want to show your support for privacy? <a class="link-light" href="/contact">Get your company listed here.</a></p>
            </div>
        </div>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-10 col-xl-7">
            <div class="text-center">
                <div class="d-flex flex-wrap justify-content-around align-items-center">
                    <!--JetBrains-->
                    <a class="m-3" href="https://jb.gg/OpenSource" target="_blank" id="sponsor">
                        <img src="/img/svg/jetbrains.svg" alt="JetBrains" width="125px">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
