<div class="container-md py-5">
    <div class="bg-alt-color border border-1 border-dark">
        <div class="p-5 container-fluid">
            <h1 class="display-2 fw-bolder">Terms of Service</h1>
            <p class="fs-5 fw-bold">
                This Terms of Service applies to all services Silkky.Cloud provides.
            </p>
            <p class="text-muted">
                Silkky.Cloud reserves the right to change this policy at any time without prior notification however we will make an effort to notify users about changes to this policy via <a class="text-muted" href="https://www.silkky.cloud/" target="_blank">our website</a> or any social media.
            </p>
        </div>
    </div>
    <div class="mt-4 bg-alt-color border border-1 border-dark">
        <div class="p-4 container-fluid">
            <h4 class="display-6 fw-bold">Uploaded Content</h4>
            <p>
                Do not upload or distribute copyrighted or material illegal under international or national law using any services provided by Silkky.Cloud. If you are uploading or distributing copyrighted material always ask for permission from the owners first, if you don't you are putting the entire Silkky.Cloud project at risk.
            </p>
        </div>
    </div>
    <div class="mt-4 bg-alt-color border border-1 border-dark">
        <div class="p-4 container-fluid">
            <h4 class="display-6 fw-bold">Ownership and Responsibility for Content</h4>
            <p>
                All content whether public or private, is the sole responsibility of the person who created or uploaded said content. The use of any content obtained by you through any of Silkky.Cloud services is at your own risk. Silkky.Cloud reserves the right to remove any content if it violates applicable law. To learn more about how your information is processed and stored please refer to our <a href="/privacy" target="_blank">Privacy Policy</a>.
            </p>
        </div>
    </div>
    <div class="mt-4 bg-alt-color border border-1 border-dark">
        <div class="p-4 container-fluid">
            <h4 class="display-6 fw-bold">Commercial Use</h4>
            <p>
                Using services provided by Silkky.Cloud for commercial use is prohibited and is in violation of the service. This is examined on a case by case basis and a decision to terminate these accounts is made by communication with the account holder. If an account is created for generating profit, upon inquiry it may be terminated. However please ask, depending on the type of commercial activity it may be allowed.
            </p>
        </div>
    </div>
    <div class="mt-4 bg-alt-color border border-1 border-dark">
        <div class="p-4 container-fluid">
            <h4 class="display-6 fw-bold">Activities You Can Not Engage in</h4>
            <p>
                You are not allowed to engage in any of the following activities on any service provided by Silkky.Cloud: Abuse of our services by trying to gain unauthorized access to a computer system, a denial of service attack or spreading malware. Spreading any material that contains sexual assault or violence against another persons. Harassing, abusing or threatening others in any way, this includes doxxing, stalking or spamming. Activity not allowed by national or international law.
            </p>
        </div>
    </div>
    <div class="mt-4 bg-alt-color border border-1 border-dark">
        <div class="p-4 container-fluid">
            <h4 class="display-6 fw-bold">Contact Us</h4>
            <p>
                If you have any questions or concerns of any kind about our Terms of Service document above, contact us at: <a href="mailto:legal@silkky.cloud">legal@silkky.cloud</a>
            </p>
        </div>
    </div>
</div>
